@font-face {
  font-family: "Johnston Bold";
  src: url("../fonts/JohnstonITCStd-Bold.woff") format("woff"), url("../fonts/JohnstonITCStd-Bold.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Johnston Bold Italic";
  src: url("../fonts/JohnstonITCStd-BoldIta.woff") format("woff"), url("../fonts/JohnstonITCStd-BoldIta.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Johnston Medium";
  src: url("../fonts/JohnstonITCStd-Medium.woff") format("woff"), url("../fonts/JohnstonITCStd-Medium.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Johnston Medium Italic";
  src: url("../fonts/JohnstonITCStd-MediumIta.woff") format("woff"), url("../fonts/JohnstonITCStd-MediumIta.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Johnston Light";
  src: url("../fonts/JohnstonITCStd-Light.woff") format("woff"), url("../fonts/JohnstonITCStd-Light.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Johnston Light Italic";
  src: url("../fonts/JohnstonITCStd-LightIta.woff") format("woff"), url("../fonts/JohnstonITCStd-LightIta.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT";
  src: url("../fonts/HelveticaLT45Light.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  font-family: "Helvetica LT";
  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
}

.ml-body {
  font-size: 11px;
}

.ml-body--yellow {
  background-color: #f8f6e8;
}

.ml-body--grey {
  background-color: #f8f8f8;
}

.ml-body--closer .ml-shop-area {
  width: calc(100% - 144px);
  margin-left: 144px;
}
.ml-body--closer .ml-filters {
  padding-left: 144px;
}
.ml-body--closer .ml-sidebar {
  width: 144px;
}

.ml-shop-container {
  display: flex;
  margin-top: 6px;
  padding: 0;
}

.ml-shop-area {
  width: calc(100% - 210px);
  margin-left: 210px;
  padding-right: 20px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ml-shop-area img {
  padding-bottom: 10px;
}

.ml-product-blocks {
  background-color: #F4F4F4;
  width: calc(25% - 10px);
  height: 250px;
}

.ml-filters {
  padding-left: 210px;
  padding-bottom: 10px;
  width: 100%;
}

.ml-filter-label i {
  transform: rotate(-90deg);
  display: inline-block;
}
.ml-filter-label span {
  color: grey;
  font-style: italic;
  padding-left: 10px;
}
.ml-filter-label:hover {
  cursor: pointer;
}

.ml-filter-label--open i {
  transform: rotate(0);
}

.ml-filter-col {
  width: 50%;
  padding-right: 10px;
}
.ml-filter-col li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
  border: 1px solid #000;
}
.ml-filter-col li:hover {
  cursor: pointer;
}
.ml-filter-col li:hover:before {
  background-color: black;
}
.ml-filter-col .ml-sort {
  padding-top: 12px;
}
.ml-filter-col .ml-sort li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  border: none;
  background-color: transparent;
}
.ml-filter-col .ml-sort .active:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  border: none;
  background-color: black;
}

.ml-filter-col--sort {
  padding-left: 10px;
}

.ml-filter-col-hidden {
  display: none;
  width: 25%;
}

.ml-filter-col-hidden--open {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.ml-filter-title {
  padding-top: 12px;
  opacity: 0.6;
}
.ml-filter-title:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  background-color: black;
}
.ml-filter-title:hover {
  cursor: pointer;
}
.ml-filter-title:hover:before {
  background-color: black;
}

.ml-filter-contianer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}
.ml-filter-contianer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ml-filter-contianer .ml-filter-indent {
  margin-left: 15px;
}

.ml-sidebar {
  width: 210px;
  padding: 12px;
  position: fixed;
  left: 0;
  top: 44px;
}

.ml-main-category:hover {
  cursor: pointer;
}
.ml-main-category:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
}

.ml-main-category--spaced {
  padding-bottom: 12px;
  margin-left: -15px;
}

.ml-main-category--active:before {
  background-color: black;
}

.ml-sub-category {
  display: none;
}
.ml-sub-category ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}
.ml-sub-category ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
}

.active:before {
  background-color: black;
}

.ml-sub-category--open {
  display: block;
}

.ml-header-image {
  width: 100%;
}
.ml-header-image img {
  width: 100%;
}

/*# sourceMappingURL=default.css.map */
